* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background-color: #f5f6f7;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
