<div class="box-product">
    <img src={{this.thumbnail}} alt="imagen del producto">
    <div class="info">
        <h3 class="title">{{this.name}}</h3>
        <p>${{this.price}}</p>
        <div class="buttons">
            <button class="btn-secundary">Ver más</button>
            <button class="btn-buy">Comprar</button>
        </div>
    </div>
</div>